@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumMyeongjo";
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumMyeongjo.woff2) format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  --background-color: #fff;
  --background-color-transparent: #eeeeeeaa;
  --background-neutral-color: #aaa;
  --text-primary-color: #444;
  --text-secondary-color: #888;
  --text-bold-color: #222;
  --post-card-color: #f6f6f6;
  --post-card-hover-color: #eee;
  --main-border-color: #ccc;
  --sub-border-color: #eee;
  --bold-font-weight: 700;
  --regular-font-weight: 400;

  --box-shadow: 0px 20px 40px -30px rgb(59 59 59);
  --brand-color: red;
  --button-hover-color: #aaaaaa44;
  --series-color: #ff7c3e52;
  --tag-color: #9d9d9d47;
  --tech-color: #ffd5003d;

  --transition-1: 0.1s;
  --transition-2: 0.2s;
  --transition-3: 0.3s;
  --transition-4: 0.4s;
  --transition-5: 0.5s;

  --sb-track-color: #eee;
  --sb-thumb-color: #787878;
  --sb-size: 13px;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
strong,
textarea,
input,
select,
option,
a,
tr,
td,
th {
  line-height: 160%;
  /* letter-spacing: -0.75px; */
}

p,
span:not(pre[class*="language-"] span),
span:not(code[class*="language-"] span),
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
small,
strong,
textarea,
input,
select,
option,
li,
ul,
a {
  color: var(--text-primary-color);
}

li,
ul {
  /* list-style-type: disc; */
}

a {
  text-decoration: none;
  /* color: initial; */
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

/* prose */

.prose {
  max-width: none;
  font-size: 15px;
}

.prose small {
  font-size: 12px;
}

.prose a {
  /* font-weight: 700; */
  color: inherit;
}

.prose img {
  margin-top: 0;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply bg-white dark:bg-zinc-900;
  @apply text-slate-900 dark:text-slate-300;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fbf1c7;
  background: #7c6f64;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fbf1c7; /* fg0 */
  background: #7c6f64; /* bg4 */
}

/* 1 */

.prose hr {
  margin: 25px 0px;
  border-top: 1px dashed var(--main-border-color);
  border-bottom: 0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-top: 80px;
}

/* h1 안씀 */
.prose h1 {
  line-height: 180%;
  font-size: 2em;
  margin: 15px 0px;
}

.prose h2 {
  line-height: 175%;
  font-size: 1.7em;
  margin: 15px 0px;
}

.prose h3 {
  line-height: 170%;
  font-size: 1.3em;
  margin: 15px 0px;
}

.prose h4 {
  font-size: 1.1em;
  margin: 15px 0px;
}

.prose h1 .anchor,
.prose h2 .anchor,
.prose h3 .anchor,
.prose h4 .anchor,
.prose h5 .anchor,
.prose h6 .anchor {
  color: var(--text-bold-color);
}

.prose a {
  text-decoration: underline wavy;
  text-decoration-color: #00b0f086;
  transition: all var(--transition-2);
  color: var(--text-primary-color);
}

.prose a:hover {
  text-decoration-color: #00b0f0;
  color: var(--text-bold-color);
}

.prose code:not(pre code) {
  padding: 2px 6px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--sub-border-color);
  border-radius: 8px;
  /* transition: background-color var(--transition-3); */
  /* border: 1px solid var(--background-neutral-color);  */
}

/* 나중에 필요할 때 써먹어보자 */
.prose p:not(.prose li > p) {
  /* text-wrap: balance; */
  word-break: keep-all;
  margin: 15px 0px;
}

.prose h1 + p,
.prose h2 + p,
.prose h3 + p {
  margin-top: 0;
}

.prose strong {
  font-weight: 700;
}
.prose em {
  font-style: italic;
}

.prose blockquote {
  border-left: 3px solid var(--sub-border-color);
  /* border-left: 3px solid #eee; */
  padding-left: 17px;
}

.prose img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
}

.prose ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

  /* text-wrap: balance; */
  word-break: keep-all;
  /* margin: 15px 0px; */
}

.prose ol {
  padding-inline-start: 20px;
  /* text-wrap: balance; */
  list-style-type: decimal;
  word-break: keep-all;
  margin: 15px 0;
}

.prose ol + ul {
  margin: 0;
}

.prose tr,
.prose td,
.prose th {
  line-height: 180%;
  border-bottom: 1px solid var(--main-border-color);
  padding: 5px 10px;
  color: var(--text-primary-color);
}

.prose th {
  font-weight: var(--bold-font-weight);
}

::-moz-selection {
  background: #b1d8ff;
  color: #222;
}
::selection {
  background: #b1d8ff;
  color: #222;
}

.prose .anchor {
  font-weight: 700;
  text-decoration: none !important;
  color: var(--text-bold-color);
}

/* code block */

body {
  --code-block-padding: 15px;
}

/* .pre-wrapper {
  position: relative;
}

.pre-wrapper:hover > button {
  opacity: 1;
  transition: all var(--transition-2);
}

.pre-wrapper > button {
  opacity: 0;
} */

.copy-btn {
  position: absolute;
  bottom: 15px;
  right: 13px;
}

.prose pre {
  font-size: 14px;
  line-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #2b2b2b;
  border-radius: 10px;
  margin: 15px 0px;
  overflow-x: auto;
}

.prose div[data-rehype-pretty-code-title] + pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div[data-rehype-pretty-code-title],
.rehype-code-title {
  padding: 10px 0 8px 30px;
  width: 100%;
  background-color: #444;
  color: white;
  z-index: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;
  /* position: absolute; */
  left: 0;
  line-height: 150%;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  z-index: 1;
  font-family: "JetBrains Mono";
}

/* div[data-rehype-pretty-code-title] + pre,
div[data-rehype-pretty-code-fragment] > pre {
  margin-top: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
} */

pre::-webkit-scrollbar {
  /* pre[data-language]::-webkit-scrollbar { */
  width: var(--sb-size);
  height: var(--sb-size);
}

pre::-webkit-scrollbar-track {
  /* pre[data-language]::-webkit-scrollbar-track { */
  background: var(--sb-track-color);
  border-radius: 5px;
}

pre::-webkit-scrollbar-thumb {
  /* pre[data-language]::-webkit-scrollbar-thumb { */
  background: var(--sb-thumb-color);
  border-radius: 5px;
  cursor: pointer;
}

div[data-rehype-pretty-code-fragment] {
  position: relative;
}

div[data-rehype-pretty-code-fragment] [data-line] {
  border-left: 5px solid transparent;
  padding-left: var(--code-block-padding);
  min-height: 1.2rem;
}

div[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  background-color: #ff707010;
  border-left: 5px solid #ff7070;
  padding-left: var(--code-block-padding);
}

div[data-rehype-pretty-code-fragment] code {
  display: grid;
}

code[data-line-numbers] {
  counter-reset: lineNumber;
}

code[data-line-numbers] .line::before {
  counter-increment: lineNumber;
  content: counter(lineNumber);
  display: inline-block;
  text-align: right;
  margin-right: 15px;
  width: 15px;
  color: rgb(255 255 255 / 0.2);
}

/* latex */

.math-display {
  overflow-x: auto !important;
  overflow-y: hidden;
  -webkit-overflow-scrolling: auto;
  margin: -15px;
  /* display: none; */
}

.katex {
  font-size: 1.1em !important;
}

/* thumbnail 흐림 문제 개선 */
img[src$=".gif"],
img[src$=".png"],
.thumbnail {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
